*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    background-color: green;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
span {
    color: white;
}