.container {
            width: 300px;
            height: 100px;
            border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }